body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F9FF;
}

/* Header-block */

header {
    min-height: 44px;
    min-width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #F0F4FF;
}

nav {
    display: flex;
    align-self: center;
    /* width: 0; */
}

.header-nav {
    margin-left: 40px;
}

.header-nav-2 {
    margin-right: 40px;
}

.nav-item:not(:last-child) {
    margin: 0 24px 0 0;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;

    
}

li {
}

.item-img {
    display: flex;
}

#search {
    width: 226px;
    height: 32px;
    border: none;
    padding-left: 2rem;
    background: #FDFDFD;
    border-radius: 4px;
    font-family: inherit;
}

.text-field_icon {
    position: relative;
}

.text-field_icon::before {
    content: '';
    color: #94A4B6;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
}

.icon_search  {
    width: 1rem;
    background-image: url("../img width='16px' height='15.36px' ");
    background-repeat: no-repeat;
    background-position: center;
}

/* Main-block */

main {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding: 24px;
    gap: 32px;

    width: 428px;
    /*
    height: 628px; */
    
    background-color: #FDFDFD;
    box-shadow: 0px 8px 16px rgba(97, 99, 103, 0.15);
    border-radius: 16px;
    border-radius: 25px;
}